#photo-list {
	width: 800px;
	list-style-type: none;
}
li {
	display: inline-block;
	margin: 1em;
	padding: 0.5em;
	transition: background 0.4s;
}
span {
	font-style: italic;
	color: red;
	font-weight: bold;
}

li:hover {
	background-color: silver;
}

ul li.selected {
	border: forestgreen 5px solid;
}

